<h1>Hamster Tracker</h1>
<%if !!current_user %>
  Welcome <%=current_user.username%>!
<%end%>
<%= button_to "Sign Out", session_url, :method => :delete, :class => "sign_out_button" %>

<div id='sidebar'></div>
<div id='content'></div>

<script>
  $(HamsterTracker.initialize);
</script>