<!-- <nav class="navbar navbar-default"> -->
<div class="row">
  <div class="col-md-9">
    <h2>Hamster Tracker</h2>
  </div>

  <div class="col-md-2">
    <br>
    <p>
      <%if !!current_user %>
        <h4>Welcome <%=current_user.username%>!</h4>
      <%end%>
    </p>
  </div>

  <div class="col-md-1">
    <br>
      <%= button_to "Sign Out", session_url, :method => :delete, :class => "sign_out_button btn btn-primary" %>
  </div>
  <br>
  <br>
</div>
<!-- </nav> -->

<div class="row">

  <div id='content' class="col-md-10">
  </div>

  <div class="col-md-2">
    <br>
    <br>
    <div id='sidebar' class="panel panel-primary"></div>
  </div>

</div>

<script>
  $(HamsterTracker.initialize);
</script>