<div class="row">
  <h1>Hamster Tracker</h1>
  <p>
    <%if !!current_user %>
      Welcome <%=current_user.username%>!
    <%end%>
  </p>
</div>

<div class="row">
  <div class="col-md-2">
    <div style="height:100px"></div>
    <div id='sidebar'></div>
  </div>
  <div id='content' class="col-md-10"></div>
</div>

<script>
  $(HamsterTracker.initialize);
</script>



<div class="row">
  <div class="col-md-12">
  <%= button_to "Sign Out", session_url, :method => :delete, :class => "sign_out_button" %>
  </div>
</div>