<div class="row" style="height:200px"></div>

<div class="row">

  <div class="col-md-4">
  </div>

  <div class="col-md-4">
    <h1>Sign In
      <br>
      <small> 
        <a href="/users/new">
          Or sign up here
        </a> 
      </small>
    </h1>

    <form action="/session" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

      <label for="username">Username</label><br>
      <input id="username" name="user[username]" type="text"><br>

      <label for="password">Password</label><br>
      <input id="password" name="user[password]" type="password"><br>
      <br>
      <input type="submit" class="btn btn-primary" value="Submit"><br>
    </form>

    <br>

    <form action="/session" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="user[username]" value="human">
      <input type="hidden" name="user[password]" value="password">
      <input type="submit" class="btn btn-primary" value="Log in as guest">
    </form>
  </div>
</div>