<form>

  <button class="delete">Delete this data point</button>
  <ul class="errors">
  </ul>

  <label for="time">Date and time:</label>
  <input type="datetime-local" id="time" name="data_point[time]" value="<%=dataPoint.escape("time").slice(0,-1)%>">
  <br>
  
  <label for="value">Value:</label>
  <input type="number" step="0.01" id="value" name="data_point[value]" value="<%= dataPoint.escape("value") %>">

  <label for="notes">Notes:</label>
  <input type="text" id="notes" name="data_point[notes]" value="<%= dataPoint.escape("notes") %>">

  <br>

  <input type="submit">
</form>