<h4>Correlations:</h4>
<ul class=correlations_index>
  <%correlations.each(function(correlation){%>
    <li>
      <%=correlation.escape("atrb_x_name")%> and <%=correlation.escape("atrb_y_name")%> have a correlation of <%=correlation.escape("value")%>
    </li>
  <%})%>
</ul>