<h1>New Entry:</h1>

<label for="time">Date and time:</label>
<input class="timeInput" type="datetime-local" id="time" name="data_point[time]">
<br>

<div class="formsList"></div>

<button class="submitButton">Submit</button>