<h1>New entry for <%=trackingSubjectName%></h1>
<a href="#/tracking_subjects/<%=trackingSubjectId%>">Back</a>
<br>
<label for="time">Date and time:</label>
<input class="timeInput" type="datetime-local" id="time" name="data_point[time]">
<br>

<div class="formsList"></div>

<button class="submitButton">Submit</button>
