
<h1 class="editable" data-field="name"><%=subject.escape("name")%></h1>

<a href="#/tracking_subjects/<%=subject.escape("id")%>/make_entry">
  <h4>New entry</h4>
</a>

<a href="#/tracking_subjects/<%=subject.escape("id")%>/tracking_attributes/new">
  New attribute
</a>


<div class="graph"></div>

<button class="toggle_public">
  <%if (is_public){%>
    Make private
  <%} else {%>
    Make public
  <%}%>
</button>

<br>

<a href="#/tracking_subjects/<%=subject.get("id")%>/add_user">Give user access</a>

<br>

<div class="correlations-table"></div>
<br>

<button class="delete">delete</button>

