
<h1 class="editable" data-field="name"><%=subject.escape("name")%></h1>

<a href="#/tracking_subjects/<%=subject.escape("id")%>/make_entry">
  <h4>New entry</h4>
</a>

<a href="#/tracking_subjects/<%=subject.escape("id")%>/tracking_attributes/new">
  New attribute
</a>


<div class="graph"></div>

<button class="toggle_public">
  <%if (subject.get("public") === "true"){%>
    Make private
  <%} else {%>
    Make public
  <%}%>
</button>

<button class="delete">delete</button>

