<a href="#/tracking_subjects/<%=subject.get("id")%>"><%=subject.escape("name")%></a>
<button class="delete">delete</button>
<a href="#/tracking_subjects/<%=subject.escape("id")%>/make_entry"><h4>New entry</h4></a>