<!-- <a href="#/tracking_subjects/<%=attribute.escape("tracking_subject_id")%>/tracking_attributes/<%=attribute.escape("id")%>/edit">
  edit attribute
</a> -->

<button class="edit btn btn-primary">edit</button>
<button class="delete btn btn-danger">delete</button>

<%=attribute.escape("name")%> in units of <%=attribute.escape("units")%>
