<%if (canWrite){%> 
  
  
  <div class="col-md-8">
    <h1 class="editable" data-field="name"><%=subject.escape("name")%></h1>
  </div>

  <br>

<%} else {%>
  <h1><%=subject.escape("name")%></h1>
<%}%>



<div class="graph"></div>

<br>
<br>

<div class="correlations-table col-md-6"></div>


<div class="col-md-3">
  <div class="more-info"></div>

  <br>
  <div class="more-options">
    <button class="expand-options btn btn-primary">More options</button>
  </div>
</div>

  <div class="col-md-2">
    <a href="#/tracking_subjects/<%=subject.escape("id")%>/make_entry">
      <button class="btn btn-primary">
        +
      </button>
    </a>
  </div>

