<h1 class="editable" data-field="name"><%=subject.escape("name")%></h1>
<a href="#/tracking_subjects/<%=subject.escape("id")%>/make_entry"><h4>New entry</h4></a>

<div class="attributes-list"></div>

<a href="#/tracking_subjects/<%=subject.escape("id")%>/tracking_attributes/new">New attribute</a>