<div class="panel-heading">
  <h4>Your Tracking Subjects</h4>
</div>
<br>

<ul class="subjects-index list-unstyled panel-body">
</ul>

<a href="/#/tracking_subjects/new">
  <button class="btn btn-primary btn-sm">
    New Tracking Subject
  </button>
</a>