<a href="#/tracking_subjects/<%=attribute.get("tracking_subject_id")%>/tracking_attributes/<%=attribute.get("id")%>">
  <%=attribute.escape("name")%> in units of: <%=attribute.escape("unit")%>
</a>
<button class="delete">delete</button>