<li>
  
  <%if (canWrite){%>
    <button class="remove-access btn btn-danger">
      Remove access
    </button>
  <%}%>

  <%=user.escape("username")%> can 
  <%if (user.get("can_write")){%>
    write
  <%} else {%>
    read
    <%}%>

  <%if (user.get("is_owner")){%>
     (owner)
    <%}%>


    
</li>