<li>

  <button class="remove-access btn btn-danger">
    Remove access
  </button>

  <%=user.escape("username")%> can 
  <%if (user.get("can_write")){%>
    write
  <%} else {%>
    read
    <%}%>
    
</li>